[user]
	name = {{ (index (index (onepassword "af3fzntxsvbpvbo3u75g4ttyja").details.sections 1).fields 0).v }}
	email = {{ (index (index (onepassword "af3fzntxsvbpvbo3u75g4ttyja").details.sections 1).fields 1).v }}
	signingkey = {{ (index (index (onepassword "af3fzntxsvbpvbo3u75g4ttyja").details.sections 1).fields 2).v }}
[core]
	editor = nvim
[init]
	defaultBranch = main
[commit]
	gpgsign = true
